#my-profile-container {
    padding-left: 15px;

    div {
        display: flex;
        gap: 1rem;

        button {
            color: #24a0ed;
            :hover {
                opacity: 0.85;
            }
        }
    }
    p {
        font-weight: bold;
        span {
            font-weight: lighter;
        }
    }
    p:first-of-type {
        margin-top: 0px;
    }
}

.em-input-update {
    margin: 0px;
    padding: 5px;
    margin-bottom: 17px;
}

.em-input-update:focus {
    outline-color: lightblue;
}

#auth-update-submit-btn {
    width: 100%;
    padding: 6px;
    background-color: #0073CF;
    color: white;
    cursor: pointer;
}

#auth-update-pass-change {
    font-weight: normal;
    text-decoration: underline;
    color: #0645AD;
    cursor: pointer;
}

#auth-update-pass-change:hover {
    opacity: 0.8;
}