
input:focus {
    outline: none;
}

#app-dashboard-select {
    display: block;
}

#create-app-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    button {
        font-size: 20px;
    }

    button:hover {
        opacity: 0.9;
    }
}

#create-app-main {
    padding: 0px 12px;

    section {
        label {
            margin-right: 5px;
            font-weight: bold;
        }

        input {
            display: inline
        }

        li {
            list-style: none;
        }
    }

    button {
        margin-bottom: 10px;
        font-size: 18px;
    }
}

table {
    margin: 10px 0px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 55%;
}

.create-app-cb {
    text-align: center;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: whitesmoke;
}

#create-app-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 49.5%;

    div span:first-of-type{
        display: block;
        margin-bottom: 10px;
    }
}

.job-app-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    transition: 150ms;

    section {
        text-align: left;

        p:first-of-type {
            margin-bottom: 2px;
        }
        p:last-of-type {
            margin-top: 0px;
            font-size: 12px;
        }
    }
}

#job-app-span:nth-child(even) {
    .job-app-card {
      background-color: #fcfcd6;
    }
}

#job-app-span:nth-child(odd) {
    .job-app-card {
      background-color: beige;
    }
}

#job-app-span:hover {
    cursor: pointer;

    .job-app-card {
        opacity: 0.85;
    }
}

#live-application-wrapper {
    max-height: 336px;
    overflow: auto;
}