@mixin disableSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:focus {
    outline: none;
}

#app-dashboard-select {
    display: block;
}

#create-app-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        display: flex;
        align-items: center;
        gap: 5px;

        button:first-of-type {
            font-size: 20px;
        }
    }
}

#create-app-main {
    padding: 0px 12px;

    section {
        label {
            margin-right: 5px;
            font-weight: bold;
        }

        input {
            display: inline
        }

        li {
            list-style: none;
        }
    }

    button {
        margin-bottom: 10px;
        font-size: 18px;
    }
}

table {
    margin: 10px 0px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 55%;
}

.create-app-cb {
    text-align: center;

    .check {
        cursor: pointer;
    }
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: whitesmoke;
}



#create-app-form span:first-of-type{
    display: block;
    margin-bottom: 10px;
}


.job-app-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    transition: 150ms;

    section {
        text-align: left;

        p:first-of-type {
            margin-bottom: 2px;
        }
        p:last-of-type {
            margin-top: 0px;
            font-size: 12px;
        }
    }
}

#job-app-span:nth-child(even) {
    .job-app-card {
      background-color: #fcfcd6;
    }
}

#job-app-span:nth-child(odd) {
    .job-app-card {
      background-color: beige;
    }
}

#job-app-span:hover {
    cursor: pointer;

    .job-app-card {
        opacity: 0.85;
    }
}

.application-wrapper-scroll {
    max-height: 378px;
    overflow: auto;
}

input[name="answerType"] {
    display: inline;
}

input[name="required"] {
    display: inline;
}

#custom-question-form {
    border: 1px solid gray;
    padding: 10px;
    width: 47%;
    margin: 12px 0px;

    label {
        @include disableSelect;
    }
}

#custom-question {
    width: 90%;
}

#custom-question-form-action {
    margin: 12px 0px 0px 0px;
    display: flex;
    justify-content: space-between;

    button {
        font-size: 14px;
        margin: 0px;
    }
}

#answer-type-table-row {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.custom-question-row {
    cursor: pointer;
}

.custom-question-row:hover {
    background-color: gainsboro;
}

#modal-application-viewer {
    section {
        display: flex;
        align-items: center;
        gap: 21px;
    }
}

#yesNo-input-field {
    margin-left: 0px;
    input {
        display: inline;
    }
}

#app-view-form-questions {
    input[type="text"]{
        border: 1px solid #a7a7a7;
        border-radius: 2px;
    }
}

.job-app-question {
    margin: 12px 0px;

    div {
        margin-left: 10px;
    }
}

#modal-application-action {
    display: flex;
    gap: 7px;
}

#pause-modal-footer {
    display: flex;
    justify-content: space-between;
}