/* Home */
body {
    margin: 0px;
    background-color: whitesmoke;
}

textarea {
    resize: none;
    display: block;
    width: 300px;
    height: 91px;
    margin: 12px 0px;
}

a {
    text-decoration: none;
}

li a {
    color: darkblue;
}

li a:hover {
    color: blue;
}
 
main {
    display: flex;
}

input {
    display: block;
    box-sizing:border-box
}

.strip-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.close-btn {
    color: dimgray;
    font-size: 18px;
}

#home-page {
    text-align: center;
    width: 100%;
}

/* Navbar */
#logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
    margin: 0px;
    background: -webkit-linear-gradient(rgb(255, 8, 8), rgb(168, 27, 27));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo-wrapper {
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

#top-nav {
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    background-color: white;
    display: flex;
    align-content: space-around;
    padding: 15px;
}

#top-nav li {
    list-style: none;
    padding: 0px 15px;
}

/* SideNav */
#side-nav {
    border: 1px solid blue;
    background-color: white;
    margin: 4px;
    border-radius: 6px;
    list-style: none;
    padding: 10px;
    width: fit-content;
}

#side-nav li {
    margin: 15px 0px 15px 0px;
    width: max-content;
}

/* Reusable */
.employMe-div-box {
    border: 1px solid grey;
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    background-color: white;
    text-align: center;
}

.employMe-div-box.reminder #reminder-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    align-items: center;
    background-color: darkslateblue;
    color: white;
}

.employMe-div-box-title {
    margin: 0px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.employMe-add-btn {
    cursor: pointer;
    background-color: #5bc236;
    color: white;
}

/* Modal */  
.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: rgb(255, 241, 222);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 19px 16px;
}

#modal-action-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modal-action-header h2 {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: maroon;
}
  
.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
  
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}
  
.ReactModal__Overlay--after-open {
    opacity: 1;
}
  
.ReactModal__Overlay--before-close {
    opacity: 0;
}
  