* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Home */
body {
    margin: 0px;
    background-color: whitesmoke;
}

button {
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    transition: 200ms;
}

textarea {
    resize: none;
    display: block;
    width: 300px;
    height: 91px;
    margin: 12px 0px;
    border: 1px solid gray;
    border-radius: 3px;
}

textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
}

li a {
    color: darkblue;
}

li a:hover {
    color: blue;
}
 
main {
    display: flex;
}

input {
    display: block;
    box-sizing:border-box
}

/* Buttons */
.strip-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.close-btn {
    color: dimgray;
    font-size: 18px;
}

.employMe-add-btn {
    background-color: #5bc236;
    color: white;
}

.employMe-add-btn:hover {
    opacity: 0.9;
}

.employMe-delete-btn {
    background-color: #d11a2a ;
    color: white;
}

.employMe-delete-btn:hover {
    opacity: 0.9;
}
/* ///////////// */

#home-page {
    text-align: center;
    width: 100%;
}

/* Navbar */
#logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
    margin: 0px;
    background: -webkit-linear-gradient(rgb(255, 8, 8), rgb(168, 27, 27));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo-wrapper {
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

#logout-btn {
    background-color: #f55925;
    color: white;
}

#logout-btn:hover {
    opacity: 0.9;
}

#top-nav {
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    background-color: white;
    display: flex;
    align-content: space-around;
    padding: 15px;

    li {
        list-style: none;
        padding: 0px 15px;
    }
}

/* SideNav */
#side-nav {
    border: 1px solid blue;
    background-color: white;
    margin: 4px;
    border-radius: 6px;
    list-style: none;
    padding: 10px;
    width: fit-content;

    li {
        margin: 15px 0px 15px 0px;
        width: max-content;
    }
}

/* Reusable */
.employMe-div-box {
    border: 1px solid grey;
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    background-color: darkslateblue;
    text-align: center;
}

.employMe-div-box-title {
    margin: 0px;
    font-size: 21px;
    color: white;
}

.employMe-div-box-action {
  display: flex;
  justify-content: space-between;
  padding: 8px 5px;
  align-items: center;
}

/* Modal */  
.mymodal {
    min-width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: rgb(255, 241, 222);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 19px 16px;
}

#modal-action-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 0px;
        color: maroon;
    }
}

.modal-action-btns {
    display: flex;
    gap: 1rem;
}
  
.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
  
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}
  
.ReactModal__Overlay--after-open {
    opacity: 1;
}
  
.ReactModal__Overlay--before-close {
    opacity: 0;
}

/* Drawer */
.drawer {
    position: fixed;
    z-index: 9999;
    transition: width 0s ease 0.3s, height 0s ease 0.3s,
      transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  .drawer > * {
    transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
      opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
      box-shadow 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  .drawer.drawer-open {
    transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  .drawer .drawer-mask {
    background: #000;
    opacity: 0;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
      height 0s ease 0.3s;
  }
  .drawer-content-wrapper {
    position: absolute;
    background: #fff;
  }
  .drawer-content {
    overflow: auto;
    z-index: 1;
    position: relative;
  }
  
  .drawer-left,
  .drawer-right {
    width: 0%;
    height: 100%;
  }
  .drawer-left .drawer-content-wrapper,
  .drawer-right .drawer-content-wrapper,
  .drawer-left .drawer-content,
  .drawer-right .drawer-content {
    height: 100%;
  }
  .drawer-left.drawer-open,
  .drawer-right.drawer-open {
    width: 100%;
  }
  .drawer-left.drawer-open.no-mask,
  .drawer-right.drawer-open.no-mask {
    width: 0%;
  }
  .drawer-left {
    top: 0;
    left: 0;
  }
  
  .drawer-left.drawer-open .drawer-content-wrapper {
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  }
  .drawer-right {
    top: 0;
    right: 0;
  }
  .drawer-right .drawer-content-wrapper {
    right: 0;
  }
  
  .drawer-right.drawer-open .drawer-content-wrapper {
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  }
  .drawer-right.drawer-open.no-mask {
    right: 1px;
    transform: translateX(1px);
  }
  .drawer-top,
  .drawer-bottom {
    width: 100%;
    height: 0%;
  }
  .drawer-top .drawer-content-wrapper,
  .drawer-bottom .drawer-content-wrapper,
  .drawer-top .drawer-content,
  .drawer-bottom .drawer-content {
    width: 100%;
  }
  .drawer-top .drawer-content,
  .drawer-bottom .drawer-content {
    height: 100%;
  }
  .drawer-top.drawer-open,
  .drawer-bottom.drawer-open {
    height: 100%;
  }
  .drawer-top.drawer-open.no-mask,
  .drawer-bottom.drawer-open.no-mask {
    height: 0%;
  }
  
  .drawer-top {
    top: 0;
    left: 0;
  }
  
  .drawer-top.drawer-open .drawer-content-wrapper {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  .drawer-bottom {
    bottom: 0;
    left: 0;
  }
  .drawer-bottom .drawer-content-wrapper {
    bottom: 0;
  }
  
  .drawer-bottom.drawer-open .drawer-content-wrapper {
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
  }
  .drawer-bottom.drawer-open.no-mask {
    bottom: 1px;
    transform: translateY(1px);
  }
  .drawer.drawer-open .drawer-mask {
    opacity: 0.3;
    height: 100%;
    transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  
  /* Cards and Dashes */
  #main-page-wrapper {
    padding: 10px;
    width: 100%;
}

#landing-pg-main {
    display: flex;
    justify-content: space-around;
    gap: 6px;
}