/* Auth */
@media screen and (max-width: 426px){
    #auth-form {
      border: none;
      background: none;
    }

    #input-wrapper input {
        font-size: 16px;
    }
}

/* Main & Navs */
@media screen and (max-width: 768px){
    #top-nav {
        display: none;
    }
    #side-nav {
        display: none;
    }
}

@media screen and (min-width: 769px){
    #mobile-page-title {
        display: none;
    }
}

/* Dashboard */

/* @media screen and (max-width: 1025px){
    #dashboard-main {
        flex-wrap: wrap;
    }
} */