#greeting {
    margin: 12px 0px;
}

#reminder-card-wrapper:nth-child(even) {
    background-color: beige;
}

#reminder-card-wrapper:nth-child(odd) {
    background-color: rgb(252, 252, 214);
}

#reminder-card {
    border-top: 1px solid gray;
    display: flex;
    align-items: center;

    p {
        text-align: left;
        padding: 6px 5px;
        width: 100%;
        cursor: pointer;
        margin: 0px;
        font-size: 15px;
    }

    p:hover {
        color: blue;
    }
}

#dashboard-panel {
    max-height: 240px;
    overflow: auto;
}

#reminder-card-wrapper:first-of-type #reminder-card {
    border-top: none;
}

.employMe-div-box.reminder {

    section {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

#auth-update-spinner {
    justify-content: center;
    height: 32px;
    align-items: center;
    display: flex;
}